@model ProdutoModel

@{
    ViewData["Title"] = "Cadastrar Produto";
}
<meta charset="utf-8" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="text-center">
                <h4 class="display-4">Adicionar Produto</h4>
            </div>

            <form class="row g-3" asp-controller="Produto" asp-action="Post" method="Post">
                <div class="col-12">
                    <label for="text" class="col-form-label">Nome</label>
                    <input type="text" class="form-control" asp-for="Nome" placeholder="Insira um nome"/>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.Descricao)</label>
                    <input type="text" class="form-control" asp-for="Descricao" placeholder="Insira uma descrição"/>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.Preco_Unitario)</label>
                    <input type="text" inputmode="numeric" class="form-control" asp-for="Preco_Unitario" placeholder="Insira um preço" 
                        min="0" step="0.01"/>
                    @* Fiz type="text" inputmode="numeric" pois se o type="number" são salva com as casas decimais *@
                    <span asp-validation-for="Preco_Unitario" class="text-danger"></span>
                </div>                

                <div class="col-6">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.Quantidade_Estoque)</label>
                    <input type="number" class="form-control" asp-for="Quantidade_Estoque" placeholder="Insira uma quantidade" 
                        min="0" step="1"/>
                    <span asp-validation-for="Quantidade_Estoque" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.Unidade_Medida)</label>
                    <input type="text" class="form-control" asp-for="Unidade_Medida" placeholder="Insira uma unidade de medida"/>
                    <span asp-validation-for="Unidade_Medida" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.Link_Foto)</label>
                    <input type="text" class="form-control" asp-for="Link_Foto" placeholder="Insira o link de alguma imagem"/>
                    <span asp-validation-for="Link_Foto" class="text-danger"></span>
                </div>
                <br />
                <br />
                <br />
                <br />

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Adicionar</button> 
                    <a class="btn btn-secondary" role="button" asp-controller="Produto" asp-action="Index">Voltar</a>
                </div>
            </form>

        </div>
    </div>
</div>
