@using SistemaVendas.Dtos;
@model List<VendaDto>

@{
    ViewData["Title"] = "Relatorio Periodo";
}
<meta charset="utf-8" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="text-center">
                <h4 class="display-4">Venda por Período</h4>
            </div>

            <form class="row g-3" asp-controller="Relatorio" asp-action="VendaPeriodo" method="Get">
                <div class="col-6">
                    <label for="text" class="col-form-label">Data de:</label>
                    <input type="date" class="form-control" name="dataDe" value="dataDe" />
                </div>

                <div class="col-6">
                    <label for="text" class="col-form-label">Data ate:</label>
                    <input type="date" class="form-control" name="dataAte" value="dataAte" />
                </div>
                <br />
                <br />
                <br />
                <br />

                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Data</th>
                            <th scope="col">Quantidade Produto</th>
                            <th scope="col">Valor Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var venda in Model)
                            {
                                <tr>
                                    <th scope="col">@venda.Id</th>
                                    <td>@venda.Cliente.Nome</td>
                                    <td>@venda.Vendedor.Nome</td>
                                    <td>@venda.Produto.Nome</td>
                                    <td>@venda.Data.ToString("dd/MM/yyyy")</td>
                                    <td>@venda.QuantidadeProduto</td>
                                    <td>R$ @venda.Total</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <br />
                <br />
                <br />
                <br />

                <div class="col-6">
                    <button type="submit" class="btn btn-info">Pesquisar</button>
                    <a class="btn btn-secondary" role="button" asp-controller="Relatorio" asp-action="Index">Voltar</a>
                </div>
            </form>

        </div>
    </div>
</div>
