@model RelatorioModel

@{
    ViewData["Title"] = "Relatorio Periodo";
}
<meta charset="utf-8" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="text-center">
                <h4 class="display-4">Venda por Período</h4>
            </div>

            <form class="row g-3" asp-controller="Relatorio" asp-action="SelectVendaPeriodo" method="Get">
                <div class="col-6">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.DataDe)</label>
                    <input type="date" class="form-control" asp-for="DataDe" />
                </div>

                <div class="col-6">
                    <label for="text" class="col-form-label">@Html.DisplayNameFor(m => m.DataAte)</label>
                    <input type="date" class="form-control" asp-for="DataAte" />
                </div>
                <br />
                <br />
                <br />
                <br />


                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Data</th>
                            <th scope="col">Quantidade Produto</th>
                            <th scope="col">Valor Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if ((List<VendaModel>)ViewBag.ListaVendas != null)
                        {
                            foreach (var venda in (List<VendaModel>)ViewBag.ListaVendas)
                            {
                                <tr>
                                    <th scope="col">@venda.Id</th>
                                    <td>@venda.NomeCliente</td>
                                    <td>@venda.NomeVendedor</td>
                                    <td>@venda.NomeProduto</td>
                                    <td>@venda.Data.ToString("dd/MM/yyyy")</td>
                                    <td>@venda.Quantidade_Produto</td>
                                    <td>R$ @venda.Total</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <br />
                <br />
                <br />
                <br />

                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-info">Pesquisar</button>
                </div>

            </form>

        </div>
    </div>
</div>
